button{
  position: absolute;
  left: 850px;
}

button#ChinaButton{
    top: 300px;
}

button#USButton{
    top: 350px;
}

button#UKButton{
    top: 400px;
}

button#GermanyButton{
    top: 450px;
}

button#AllButton{
    top: 500px;
}
