#tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: none;
    border: 1px solid #ccc;
    font-size: 12px;
}

#menu {
    position: absolute;
    top: 10px;
    left: 20px;
}

#container {
    position: relative;
}

