body {
  background-color: lightcyan;
  width: 1000px;
  height: auto;
}

header {
  position: relative;
  left: 400px;
  width: 800px;
  font-size: 36px;
  height: 2.5rem;
  background-color: lightcyan;
  color:black;
  line-height: 2.5rem;
  text-align: center;
}

.WholeWindow {
  width: 1000px;
  height: 3000px;
  position: relative;
  left: 350px;
}

.tinyView_History {
  width: auto;
  height: 750px;
  position: relative;
  left: 0px;
}

.Title1 {
  position: relative;
  top: 20px;
  position: relative;
  background-color: darkcyan;
}

p.Text1 {
  font-size: 24px;
  color:white;
  position: relative;
  left: 250px;
}

.Line1 {
  width: 100%;
  min-width: 760px;
}

.description1 {
  font-size: 18px;
  text-align: middle;
}

.tinyView_Geography {
  width: auto;
  height: 700px;
  position: relative;
  top: 40px;
}

.Title2 {
  position: relative;
  top: 20px;
  background-color: darkcyan;
}

p.Text2 {
  font-size: 24px;
  color:white;
  position: relative;
  left: 250px;
}

.Line2 {
  width: 100%;
  min-width: 760px;
}

.conclusion1 {
  font-size: 18px;
  text-align: justify;
}

.Line3 {
  width: 100%;
  min-width: 760px;
}

.conclusion2 {
  font-size: 18px;
  text-align: middle;
}
